@model IEnumerable<TaskManagement.Models.AssignedTask>


@{
    ViewData["Title"] = "Assigned Tasks";
}

<a asp-action="Create" asp-controller="TaskAssigned"> Create Task </a>

<table class="table table-bordered">
    <tr>
        <td>Task</td>
        <td>Assigned To</td>
        <td>Assigned Date</td>
        <td>Due Date</td>
        <td>Submit Date</td>
        <td>Status</td>
        <td>Remarks</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TaskId</td>
            <td>@item.UserId</td>
            <td>@item.AssignedDate.ToString("dd/mm/yyyy")</td>
            <td>@item.DueDate.ToString("dd/mm/yyyy")</td>
            <td>@item.SubmitDate.ToString("dd/mm/yyyy")</td>
            <td>@item.Status</td>
            <td>@item.Remarks</td>
            <td>
                <a asp-action="Edit" asp-controller="TaskAssigned" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-controller="TaskAssigned" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>